<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${movie.getName()}"></title>

  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/review.css}">
</head>

<body>
<nav th:replace="layouts :: main_navbar"></nav>
<section class="col-11 my-4 mx-auto p-2 bg-light rounded-lg container">
  <div class="d-flex">
    <div class="m-4 w-25">
      <img class="rounded w-100 img-fluid" th:src="@{${movie.getPoster()}}" alt="Movie cover pic"/>
    </div>
    <div class="m-2 w-100 d-flex flex-column">
      <h1 class="mt-5 mb-4 px-2 font-weight-bold ">Dune</h1>
      <div class="px-3">
        <h6 class="my-0">Rating: <span class="font-weight-normal" th:text="${movie.getName()}">9.8</span></h6>
        <h6 class="my-0">Genre: <span class="font-weight-normal" th:text="${movie.getGenre()}">Horror</span></h6>
        <h6 class="my-0">Release date: <span class="font-weight-normal" th:text="${movie.getReleaseDate()}">19/02/21</span></h6>
      </div>
      <div class="my-3 p-3 bg-white flex-grow-1 rounded-lg">
        <h6>Description:</h6>
        <p class="my-0" th:text="${movie.getDescription()}"></p>
        <span><br/></span>

        <div class="row">
          <div class="col">
            <span th:if="${movie.isUserAvailableInFavouriteMovie(#authentication.getPrincipal().id)}">
                        <a th:href="@{/movies/{id}/remove-from-favourite (id=${movie.id})}" style="color: darkred"><span
                                class="material-icons">favorite</span></a>
                      </span>
            <span th:unless="${movie.isUserAvailableInFavouriteMovie(#authentication.getPrincipal().id)}">
                        <a th:href="@{/movies/{id}/add-to-favourite (id=${movie.id})}" style="color: darkred"><span class="material-icons">favorite_border</span></a>
                      </span>
          </div>
          <div class="col" style="text-align: right">
              <span th:if="${movie.isUserAvailableInMovieWatchlist(#authentication.getPrincipal().id)}">
                <a th:href="@{/movies/{id}/remove-from-watchlist (id=${movie.id})}" style="color: orange"><span class="material-icons">turned_in</span></a>
              </span>
            <span th:unless="${movie.isUserAvailableInMovieWatchlist(#authentication.getPrincipal().id)}">
                <a th:href="@{/movies/{id}/add-to-watchlist (id=${movie.id})}"><span class="material-icons">bookmark_border</span></a>
              </span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="px-2">
    <h5 class="mx-4 font-weight-bold">Cast:</h5>
    <div class="bg-white rounded-lg p-2 overflow-auto text-nowrap">
      <div class="swiper cast-swiper">
        <div class="swiper-wrapper">
          <div class="d-inline-block mx-4 swiper-slide" th:each="actor : ${movie.getActors()}">
            <img class="rounded-circle mx-auto" style="width: 100px;height: 100px;" th:src="@{${actor.getImageUrl()}}" alt="Actor pic">
            <p class="text-center d-inline-block mx-auto text-wrap" th:text="${actor.getName()}"></p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>

<section th:replace="user/movie/review/reviews:: reviews"></section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  let swiper = new Swiper(".cast-swiper", {
    slidesPerView: 4,
    spaceBetween: 50,
    slidesPerGroup: 1,
    loop: false,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
</body>
</html>
