<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Review</title>
</head>
<body>

</body>
</html> -->
<link rel="stylesheet" href="../../static/css/style.css">
<link rel="stylesheet" href="../../static/css/review.css">
<div class="container">
    <div class="review-box">
        <div class="review-heading">
            <div class="picture-name-container">
                <div class="review-profile-image-container">
                    <img src="../../static/images/review_pro_pic.png" class="review-profile-image" alt="User Image">
                </div>
                <div class="review-name-container">
                    <h4>User Name</h4>
                </div>
            </div>
            <div class="review-date">
                <span>10/28/2021 5:34 PM</span>
            </div>
        </div>
        <hr class="horizontal-line"/>
        <div class="review-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at aut exercitationem nostrum quidem veritatis voluptatibus. Dolore, ex, quod! Aliquid nemo repellendus tempore? A aliquam, atque est provident quibusdam voluptatibus.
            </p>
        </div>
    </div>
</div>