<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${movie.getName()}"></title>

  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/review.css}">

  <style>

  </style>
</head>

<body>

<section class="col-11 my-4 mx-auto p-2 bg-light rounded-lg">
  <div class="d-flex">
    <div class="m-4 w-25">
      <img class="rounded w-100 img-fluid" th:src="@{${movie.getPoster()}}" alt="Movie cover pic"/>
    </div>
    <div class="m-2 w-100 d-flex flex-column">
      <h1 class="mt-5 mb-4 px-2 font-weight-bold ">Dune</h1>
      <div class="px-3">
        <h6 class="my-0">Rating: <span class="font-weight-normal" th:text="${movie.getName()}">9.8</span></h6>
        <h6 class="my-0">Genre: <span class="font-weight-normal" th:text="${movie.getGenre()}">Horror</span></h6>
        <h6 class="my-0">Release date: <span class="font-weight-normal" th:text="${releaseDate}">19/02/21</span></h6>
      </div>
      <div class="my-3 p-3 bg-white flex-grow-1 rounded-lg">
        <h6>Description:</h6>
        <p class="my-0" th:text="${movie.getDescription()}"></p>
      </div>
    </div>
  </div>
  <div class="px-2">
    <h5 class="mx-4 font-weight-bold">Cast:</h5>
    <div class="bg-white rounded-lg p-2 overflow-auto text-nowrap">
      <div class="d-inline-block mx-3" th:each="actor : ${movie.getActors()}">
        <img class="rounded-circle" style="width: 100px;height: 100px;" th:src="@{${actor.getImageUrl()}}" alt="Actor pic">
        <p class="text-center" th:text="${actor.getName()}"></p>
      </div>
    </div>
  </div>
</section>

<!--<section>-->
<!--  <div class="container" th:each="review : ${reviews}">-->
<!--    <div class="review-box">-->
<!--      <div class="review-heading">-->
<!--        <div class="picture-name-container">-->
<!--          <div class="review-profile-image-container">-->
<!--            &lt;!&ndash;  &ndash;&gt;-->
<!--            <img th:src="${review.getUser().getProfilePicPath()}" class="review-profile-image" alt="User Image">-->
<!--          </div>-->
<!--          <div class="review-name-container">-->
<!--            <h4 th:text="${review.getUser().getUsername()}"></h4>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="review-date">-->
<!--          <span>10/28/2021 5:34 PM</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr class="horizontal-line"/>-->
<!--      <div class="review-body">-->
<!--        <div th:text="${review.getMovieRating()}" class="review-stars"></div>-->
<!--        <p th:text="${review.getContent()}"></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
</body>
</html>
