<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Edit Review</title>
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
                integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/review.css}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav th:replace="layouts :: main_navbar"></nav>

        <h1 style="text-align: center;">Edit Your Review</h1>
        <section>
            <div sec:authorize="isAuthenticated()" class="container">
                <div class="review-writer-box">
                    <form th:action="@{'/movies/'+${movie.getId()}+'/review/edit/'}"
                          th:object="${review}" method="post">
                        <div class="row">
                            <div class="col-2">
                                <label for="movieRating">Select Rating</label>
                                <select class="form-control" id="movieRating" th:field="*{movieRating}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="col-10">
                                <label for="reviewContent">Detailed Review</label>
                                <textarea class="form-control" id="reviewContent" rows="3" placeholder="Write a review..." th:field="*{content}"></textarea>
                            </div>
                        </div>
                        <div class="text-right mt-2">
                            <button class="btn btn-primary" type="submit" value="Submit">Update Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
