<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: head"> </head>
  <body>
    <div class="container">
      <nav th:replace="layouts :: admin_navbar"></nav>
      <div class="container">
        <div style="height: 20px"></div>
        <p align="center"><a href="/admin/casts/create">Add Cast</a></p>
      </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cast : ${casts}">
                <td th:text="${cast.id}"></td>
                <td th:text="${cast.name}"></td>
                <td th:text="${cast.imageUrl}"></td>
                <td>
                  <button class="btn btn-danger">Delete</button>
                  <button class="btn btn-warning">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
