<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: head"> </head>
  <body>
    <div class="container">
      <nav th:replace="layouts :: admin_navbar"></nav>
      <div class="container">
        <h1 align="center">Create A New Cast</h1>
        <form
          th:object="${castForm}"
          action="/admin/casts/create"
          method="post"
        >
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Cast Name</label
            >
            <input
              th:field="*{name}"
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Cast Image Url</label
            >
            <input
              th:field="*{imageUrl}"
              name="imageUrl"
              type="text"
              class="form-control"
              placeholder="Image Url"
              aria-label="Image Url"
            />
          </div>

          <button class="btn btn-primary text-center" type="submit">
            Create
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
