* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #f9f7f7;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  margin-top: 20px;
  background-color: white;
}

.form-title {
  font-size: 20px;
  text-align: center;
}

.form-container {
  width: 520px;
  margin: 20px auto;
  padding: 30px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-group .form-control {
  width: 490px;
  margin: auto;
  padding: 2px 10px;
  font-size: 16px;
}

.login-submit {
  margin: 0 10px;
}

.table {
    margin : 20px auto;
}

.profile_card {
    display : flex;
    width : 50%;
    margin : 20px auto;
    justify-content : space-around;
    align-items : center;
    border : 1px black dotted;
    padding : 35px 0;
}

.profile_card_image {
    width : 160px;
    height : 170px;
    margin-bottom : 20px;
}

.info {
    display : flex;
    align-items : center;
}

.vertical_line {
     width : 2px;
     height : 250px;
     background-color  : black;
}

.image_container {
    display : flex;
    flex-direction : column;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

