
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
	background-color : #F9F7F7;
}

.container {
    width : 80%;
    margin : auto;
}

.navbar {
    margin-top : 20px;
    background-color: white;
}

.form-title {
    font-size : 20px;
    text-align : center;
}

.form-container {
    width : 520px;
    margin : 20px auto;
    padding : 30px 20px;
    border : 1px solid black;
    border-radius : 5px;
}

.form-group .form-control {
    width : 490px;
    margin : auto;
    padding : 2px 10px;
    font-size : 16px;
}

.login-submit {
    margin : 0 10px;
}

.table {
    margin : 20px auto;
}

.profile_card {
    display : flex;
    width : 50%;
    margin : 20px auto;
    justify-content : space-around;
    align-items : center;
    border : 1px black dotted;
    padding : 35px 0;
}

.profile_card_image {
    width : 200px;
    height : 200px;
    margin-bottom : 20px;
}

.info {
    display : flex;
    align-items : center;
}

.vertical_line {
     width : 2px;
     height : 200px;
     background-color  : black;
}

.image_container {
    display : flex;
    flex-direction : column;
}




