* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #f9f7f7;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  margin-top: 20px;
  background-color: white;
}

.form-title {
  font-size: 20px;
  text-align: center;
}

.form-container {
  width: 520px;
  margin: 20px auto;
  padding: 30px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-group .form-control {
  width: 490px;
  margin: auto;
  padding: 2px 10px;
  font-size: 16px;
}

.login-submit {
  margin: 0 10px;
}
