<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="navbar :: navbar_head"> </head>
  <body>
  <div th:insert="navbar :: navbar_head">...</div>
  <div th:insert="navbar :: navbar_content">...</div>
    <div class="container">
      <div class="container">
        <div style="height: 20px"></div>
        <p align="center"><a href="/admin/actors/create">Add Cast</a></p>
        <p th:if="${error}" th:text="${error}" class="alert alert-warning" role="alert" ></p>
      </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="actor : ${actors}">
                <td th:text="${actor.id}"></td>
                <td><img height="20px" width="20px"  th:src="@{${actor.imageUrl}}" /></td>
                <td th:text="${actor.name}"></td>
                <td>
                  <a class="btn btn-danger" th:href="@{/admin/actors/delete/{id}(id=${actor.id})}">Delete</a>
                  <a class="btn btn-warning" th:href="@{/admin/actors/edit/{id}(id=${actor.id})}">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
