<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

	<div th:insert="navbar :: navbar_head">...</div>
	<div th:insert="navbar :: navbar_content">...</div>
	
	<div class="container">

		<form class="form-container text-center" th:action="@{/login}" method='POST'>
			<p class="form-title"> Please Login Here </p>
			<p th:if="${loginError}" class="error"> Login Failed  </p>
			<div class="form-group">
				<label for="input_email">Username</label>
				<input type="text" class="form-control" id="input_email" aria-describedby="emailHelp" placeholder="Username" name='username'>
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>

			<div class="form-group">
				<label for="input_password">Password</label>
				<input type="password" class="form-control" id="input_password" placeholder="Password" name='password'>
			</div>

			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="checkbox">
				<label class="form-check" for="checkbox">Remember me</label>
				<button type="submit" class="login-submit btn btn-primary">Submit</button>
			</div>


		</form>
	</div>
</body>

</html>


